{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet", href="{% static 'Login/login.css'%}">
</head>
<body>
    <div class="head">
        <h1>HỆ THỐNG QUẢN LÝ ĐIỂM HỌC SINH </h1>
    </div>
    <div class="login_f">
        {% block content %}
        {% endblock %}
    </div>
<div class = "footer">
    <ul>
        <li>Tên trường</li>
        <li>sdt</li>
        <li><a href="">about us</a></li>
    </ul>
</div>
</body>
</html>